{%extends 'base.html.twig'%}
{% block title %}  
    Restablecer contrase単a
{% endblock %}    

{%block body %}
    <div class="example-wrapper">
        <h2>Restablecer contrase単a</h2>

        {%for variable in app.session.flashbag.get('error')%}
            <p class="errorlogin">{{variable}}</p>
        {%endfor%}
        <form method="POST" action="{{path('user_comprobaremail')}}">
            <input type='hidden' value='{{id}}' name="id_cliente">
            <input type='hidden' value='{{fraseseguridad}}' name="fraseseguridadreal">


            <label for password>Nueva contrase単a</label>
            <input type='password' name='password' required="">

            <label for fraseseguridad>Introduce frase seguridad</label>
            <input type='password' name='fraseseguridad' required="" id="fraseseguridad"><br><br>

            <input id="boton_cambiar_password" type='submit' value='Cambiar Contrase単a'>
        </form>
            
        <a  class="btneditcliente" id="volveramisdatos" href="{{path('user_detail',{'id':id})}}">ATRAS</a>    
    </div>        
    
{%endblock%}    
